<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">

    <menuitem name="menu-accounting-root"
              title="Accounting" icon="fa-calculator" icon-background="#e0a83c"/>

    <menuitem name="menu-accounting-root-account"
              parent="menu-accounting-root"
              title="Accounts"
              action="accounting.root.account.all"  icon="fa-user-secret" icon-background="#e0a83c"/>

    <action-view name="accounting.root.account.all"
                 title="Accounts"
                 model="com.axelor.apps.accounting.db.Account">
        <view type="grid" name="accounting-account-grid"/>
        <view type="form" name="accounting-account-form"/>
    </action-view>

    <menuitem name="menu-accounting-root-accountEntry"
              parent="menu-accounting-root"
              title="Accounting Entries"
              action="accounting.root.accountingEntry.all"  icon="fa-circle-thin" icon-background="#e0a83c"/>

    <action-view name="accounting.root.accountingEntry.all"
                 title="Accounting Entries"
                 model="com.axelor.apps.accounting.db.AccountingEntry">
        <view type="grid" name="accounting-accountingEntry-grid"/>
        <view type="form" name="accounting-accountingEntry-form"/>
    </action-view>

    <menuitem name="menu-accounting-root-accountEntryLine"
              parent="menu-accounting-root"
              title="Accounting Entry Lines"
              action="accounting.root.accountingEntryLine.all"  icon="fa-linode" icon-background="#e0a83c"/>

    <action-view name="accounting.root.accountingEntryLine.all"
                 title="Accounting Entry Lines"
                 model="com.axelor.apps.accounting.db.AccountingEntryLine">
        <view type="grid" name="accounting-accountingEntryLine-grid"/>
        <view type="form" name="accounting-accountingEntryLine-form"/>
    </action-view>

</object-views>